body
{
    margin: 0;
    background-color: whitesmoke;
    background: url(/img/noise.png);
    font-family: 'Roboto';
}

img#logo
{
    display: block;
    height: 128px;
    margin: auto;
    padding: 50px 0px 50px 0px;
}

p.error
{
    margin: 0;
    color: indianred;
}
a.tip
{
    font-size: 0.8em;
    margin-top: 2px;
    text-align: right;
    opacity: 0.5;
    color: black;
    transition: opacity 0.1s;
    outline: 0;
}
a.tip:hover
{
    opacity: 1;
}

form#login
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: auto;
    padding: 0px 10px 10px 10px;
}
form#login > input, button
{
    text-align: center;
    background-color: white;
    box-shadow: rgba(0,0,0,0.05) 0px 0px 5px;
    border: none;
    padding: 10px;
    border: solid 1px rgba(0,0,0,0.15);
    transition: background-color, border 0.1s;
    font-family: 'Roboto';
    font-size: 1.1em;
}
form#login > input
{
    margin-bottom: 10px;
}
form#login > input[type="submit"]
{
    cursor: pointer;
}
form#login > input[type="submit"]:hover, form#login > input:focus
{
    background-color: rgb(230, 230, 230);
    border: solid 1px rgba(0,0,0,0.2);
}

.cookie_agreement
{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40px;
    box-shadow: rgba(0,0,0,0.05) 0px 0px 5px;
    border-top: solid 1px rgba(0,0,0,0.15);
}